@charset "utf-8";

#tablero{
	width: 20em;
	height: 20em;
	border: 3px blue ridge;
	position: relative;
}

#invader{

	position: absolute;
	top: 3em;
	left: 3em;
}
img{
	width: 1em;
	height: 1em;
	position: relative;
}

