@charset "utf-8";

#tablero{
	width: 20em;
	height: 20em;
	border: 3px blue ridge;
	position: relative;
        background: black;
}

#invader{

	position: absolute;
	top: 1em;
	left: 1em;
}
img{
	width: 2em;
	height: 2em;
	position: relative;
}
#nave{
	position: absolute;
        top:18em;
        left:0em;
}

#disparo{
    color:white;
    position: absolute;
    top:18em;
    left:0em;    

}

#disparo>img{
    width: 1em;
    height: 1em;
    left: 0.5em;
}

